@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Mulish";
}
.video {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -2;
}
.texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}
h1 {
  font-weight: 900;
  font-size: 100px;
  color: #ffffff;
}
.cuadro {
  font-weight: 400;
  font-size: 27px;
  color: #414166;
  border-radius: 15px;
  width: 500px;
  height: 50px;
  border: none;
}
